<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">  <!--Bibliotecas para fontes-->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>  <!--Bibliotecas para fontes-->
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Young+Serif&display=swap" rel="stylesheet"> <!--Bibliotecas para fontes-->
    <link rel="shortcut icon" href="Images/Captura_de_tela_2025-03-14_174727-removebg-preview.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='PaginaLogin.css') }}">
   



    <title>Pagina Login Fala.i</title>
</head>
<body class="dark-mode">

    <div class="controls">
        <button class="toggle-mode" onclick="toggleMode()">Alternar Modo</button>
        <button id="increase-font">A+</button>
        <button id="decrease-font">A-</button>
    </div>

    <div class="container-bem-vindo">
        <div class="titulo-bem-vindo">
            <h1>Seja Bem-Vindoo</h1>
        </div>

        <div class="texto-apresentacao-bem-vindo">
            <p id="texto-apresentacao-bem-vindo">Conheça a nova plataforma que vai <br> alavancar sua oratória com a nova <br> inteligência artificial Fala.i</p>
        </div>

        <div class="logo-bem-vindo"></div>
    </div>

    <div class="container-login">
        <div class="login">
            <h3>Login</h3> 
            <p>E-mail</p> 
            
            <form id="login-form" method="post" action="/login">
        
                <input type="email" placeholder=" Digite seu e-mail" id="email" name="email" required>
                <div class="linha-rm-senha">
                    <div>
                        <p>Rm</p>
                        <input type="text" placeholder="  Digite seu Rm" id="rm"  name="rm" required>
                    </div>
                    <div>
                        <p>Senha</p>
                        <input type="password" placeholder="  Digite sua senha" id="senha" name="senha" required>
                        <i class="fas fa-eye" id="toggleSenha" onclick="mostrarSenha()"></i>
                    </div>
                </div>
                <button type="submit" id="entrar">Entrar</button>
            </form>

            
        </div>
    </div>
     
    <script>
        function toggleMode() {
            document.body.classList.toggle('light-mode');
            document.body.classList.toggle('dark-mode');
        }

        let texto = document.getElementById("texto-apresentacao-bem-vindo");
        let tamanhoBase = parseFloat(window.getComputedStyle(texto).fontSize);

        document.getElementById("increase-font").addEventListener("click", function () {
    let tamanhoAtual = parseFloat(window.getComputedStyle(texto).fontSize);

    let novoTamanho = tamanhoAtual * 1.1;

    if (novoTamanho > 32) {
        novoTamanho = 32
    }

    texto.style.fontSize = novoTamanho + "px";
});
    

        document.getElementById("decrease-font").addEventListener("click", function () {
            let tamanhoAtual = parseFloat(window.getComputedStyle(texto).fontSize);
            if (tamanhoAtual > tamanhoBase * 0.8) { // Evita que fique muito pequeno
                texto.style.fontSize = (tamanhoAtual * 0.9) + "px"; // Diminui 10%
            }

            
        });

        function mostrarSenha() {
  const input = document.getElementById("senha");
  const icon = document.getElementById("toggleSenha");

  if (input.type === "password") {
    input.type = "text";
    icon.classList.add("fa-eye");
    icon.classList.remove("fa-eye-slash");
  } else {
    input.type = "password";
    icon.classList.add("fa-eye-slash");
    icon.classList.remove("fa-eye");

  }
}

        
    </script>
</body>
</html>
