:root{
  --fundo-branco: #ffffff;
  --cor-principal:  #686bff;
  --hover: #5557ff;
  --cor-terciaria: #7779fd;
  --cinza-claro: #e4e9f0;
  --cinza-medio: #cfd4d8;
  --roxo: #491f7a;
  --fundo-cinza: #efefef;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    overflow-x: hidden;
}

body{
    background-color: var(--cinza-claro);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#logo{
    width: 200px;
    margin-top: 70px;
}

.logo{
    animation: pulo 2s infinite;
}

.titulo-bem-vindo{
    color: var(--fundo-branco);
    font-family: sans-serif;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 27px;
    margin-top: 50px;
    margin-top: 0;
}

.texto-apresentacao-bem-vindo{
    color: var(--cor-principal);
    font-family: sans-serif;
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    max-width: 500px;
}

h3 {
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: white;
    margin-bottom: 15px;
    margin-top: -20px; /* Adicionar uma margem negativa aqui */
}

input{
    border-radius: 13px;
    width: 529px;
    height: 36px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}


.tudo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espaço entre os containers */
}

.container-login{
    position: absolute;
    top: 47%; /* Reduzir este valor para mover o container para cima */
    right: 10%;
    transform: translateY(-50%);
    background-color: #37353c;
    height: auto;
    padding: 40px;
    padding-bottom: 80px;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    transition: transform 1s ease;
}

.container-cadastro{
    position: absolute;
    top: 47%;
    left: 100%;
    transform: translateY(-50%);
    background-color: #37353c;
    height: auto;
    padding: 40px;
    padding-bottom: 80px;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    transition: transform 1s ease;
    scale: 90%;
}

.senha-esquecida{
    position: absolute;
    top: 47%;
    left: 100%;
    transform: translateY(-50%);
    background-color: #37353c;
    height: auto;
    padding: 40px;
    padding-bottom: 80px;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    transition: transform 1s ease;
    scale: 90%;
}

.login{
    padding: 10px 30px 20px 30px; /* Reduzir o primeiro valor (padding superior) */
}

.esquecida{
    padding: 10px 30px 20px 30px; /* Reduzir o primeiro valor (padding superior) */
}

p{
    color: white;
}

#rm{
    width: 253px;
    height: 36px;
    border: solid 1px white;
    color: white;
    background-color: transparent;
}

#senha {
    width: 253px;
    height: 36px;
    border: solid 1px white;
    background-color: transparent;
    color: white;
    transition: transform 0.5s ease-in-out;
}

.linha-rm-senha {
    display: flex;
    gap: 20px; /* Espaço entre os campos */
}

#email{
    border: solid 1px white;
    color: white;
}


#texto-apresentacao-bem-vindo{
    color: var(--fundo-branco);
    max-width: 500px;
}

#texto1{
    color: var(--cor-terciaria);
}


button{
    background-color: var(--cor-principal);
    border-radius: 10px;
    width: 360px;
    height: 39px;
    border: none;
}

#entrar{
    border: none;
    color: white;
}

#cadastrar2{
    border: none;
    color: white;
}

#cadastrar{
    width: 130px;
    background-color: #0099ff;
    border: none;
    color: white;
}

#entrar2{
    width: 130px;
    background-color: #0099ff;
    border: none;
    color: white;
}

.entrar-cadastro{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30px;
}

.cadastro-entrar{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 30px;
}

.linha-botoes{
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

.botoes-linha{
    display: flex;
    gap: 8px;
    margin-top: 20px;
}

#esqueci-senha{
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cinza-claro);
}

#ou{
    margin-top: 10px;
}

.container-bem-vindo{
    position: absolute;
    left: 135px; 
    top: 150px;
}

#confirma-senha{
    margin-top: 10px;
}

body.dark-mode #esqueci-senha{
    color: #0062cb;
}
    
body.dark-mode {
    background-color: var(--fundo-branco);
    color: #feffec;
}
body.light-mode {
    background-color: #29272F;
    color:#feffec ;
}
.toggle-mode {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #feffec;
    border: none;
    cursor: pointer;
    border-radius: 5px;
} 

body.dark-mode #texto-apresentacao-bem-vindo{
    color: var(--cor-terciaria);
}

body.dark-mode #rm {
    color: var(--cor-terciaria);
    border: solid 1px var(--cor-terciaria);
}

body.dark-mode #senha {
    color: var(--cor-terciaria);
    border: solid 1px var(--cor-terciaria);
}

body.dark-mode #entrar {
    color: var(--fundo-branco);
    border: none;
}

body.dark-mode #cadastrar {
    color: var(--fundo-branco);
    border: none;
}

body.dark-mode #email {
    color: var(--cor-terciaria);
    border: solid 1px  var(--cor-terciaria);
}

body.dark-mode #louco {
    color: var(--cor-principal);
}

body.dark-mode p {
    color: var(--cor-principal);
}

body.dark-mode h3 {
    color: var(--cor-principal);
    font-family: "Titillium Web", sans-serif;
    font-weight: 200;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: var(--hover);
    margin-bottom: 15px;
    margin-top: -20px; /* Adicionar uma margem negativa aqui */
}

body.dark-mode .titulo-bem-vindo{
    color: var(--cor-principal);
}

body.dark-mode .container-login{
    position: absolute;
    top: 47%; /* Reduzir este valor para mover o container para cima */
    right: 10%;
    transform: translateY(-50%);
    background-color: var(--cinza-claro);
    height: auto;
    padding: 40px;
    padding-bottom: 80px;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

body.dark-mode .container-cadastro{
    position: absolute;
    top: 47%;
    left: 100%;
    transform: translateY(-50%);
    background-color: var(--cinza-claro);
    height: auto;
    padding: 40px;
    padding-bottom: 80px;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    transition: transform 1s ease;
    scale: 90%;
}

body.dark-mode .login{
    padding: 10px 30px 20px 30px; /* Reduzir o primeiro valor (padding superior) */
}

body.dark-mode input{
    border-radius: 13px;
    width: 529px;
    height: 36px;
    border: solid 1px var(--cor-principal);
    background-color: transparent;
    color: var(--cor-terciaria);
    margin-top: 10px;
    margin-bottom: 10px;
}

body.dark-mode i {
  position: absolute;
  transform: translateY(-50%);
  right: 60px;
  top: 59%;
  cursor: pointer;
  color: var(--cor-principal);
}

body.dark-mode .senha-esquecida{
    position: absolute;
    top: 47%;
    left: 100%;
    transform: translateY(-50%);
    background-color: var(--cinza-claro);
    height: auto;
    padding: 40px;
    padding-bottom: 80px;
    width: 40%;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    transition: transform 1s ease;
    scale: 90%;
}

.controls {
    display: flex;
    align-items: center;
    gap: 2px; /* Reduz o espaço entre os botões */
    margin: 0; /* Remove margens externas */
    padding: 0; /* Remove preenchimento interno */
}

.controls button {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    color: #007BFF;
    margin: 0; /* Remove margens dos botões */
    display: inline-block; /* Garante que os botões fiquem na mesma linha */
}

.controls button:hover {
    text-decoration: underline;
}

#increase-font, #decrease-font{
    max-width: 100px;
    left: 100px;
    position: relative;
}

.account-btn {
    background-color: #686bff;
    color: #feffec;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.4s;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 150px;
  }

  .account-btn:hover {
    background-color: #5557ff;
    transform: scale(1.05);
}

i {

  position: absolute;
  transform: translateY(-50%);
  right: 60px;
  top: 59%;
  cursor: pointer;
  color: #67676b;
}

#toggleSenha2{
  position: absolute;
  transform: translateY(-50%);
  right: 60px;
  top: 49.5%;
  cursor: pointer;
  color: var(--cor-principal);
}

@keyframes pulo {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); /* Ajuste a altura do pulo conforme necessário */
    }
}